<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Lumino - Tables</title>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/datepicker3.css" rel="stylesheet"/>
    <link href="css/bootstrap-table.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="/resources/demos/style.css"/>


    <!--Icons-->
    <script src="js/lumino.glyphs.js"></script>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<th:block th:include="fragments :: header">
</th:block>
<th:block th:include="fragments :: left_panel">
</th:block>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">
                <svg class="glyph stroked home">
                    <use xlink:href="#stroked-home"></use>
                </svg>
            </a></li>
            <li class="active">Icons</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tables</h1>
        </div>
    </div><!--/.row-->
    <div class="modal-content add-book">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Add Book
            </div>
            <div class="panel-body">
                <form id="bookForm" action="books/add" method="post" class="col s12" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label>Book name</label>
                            <input class="form-control" id="bookName" name="name" placeholder="Book name"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Year</label>
                            <input class="form-control" type="number" id="year" name="year" placeholder="Year"
                                   autocomplete="off"/>
                        </div>

                        <div class="form-group col-md-2">
                            <div class="row">
                                <label>Category</label>
                            </div>
                            <div class="row">
                                <select name="category">
                                    <option th:each="category : ${categoriesList}"
                                            th:value="${category.id}"
                                            th:text="${category.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <div class="row">
                                <label>Language</label>
                            </div>
                            <div class="row">
                                <select name="lang">
                                    <option value="EN">EN</option>
                                    <option value="RU">RU</option>
                                    <option value="PL">PL</option>
                                    <option value="UA">UA</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-8">
                            <label>Authors</label>
                            <input id="authors" class="form-control" name="authors" size="10"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-8">
                            <label>Publisher</label>
                            <input id="publishers" class="form-control" name="publisher" size="1"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" class="form-control" style="height: 300px;"
                                      cols="40" rows="25"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>File</label>
                            <input class="text" type="file" name="file" id="file" autocomplete="off"/>
                        </div>


                        <div class="form-group col-md-4">
                            <label>Screenshot page</label>
                            <input class="form-control" type="number" id="page" name="page" placeholder="page"
                                   autocomplete="off"/>
                        </div>

                    </div>


                    <div class="form-group">
                        <div class="col-md-12 widget-left">
                            <button type="submit" id="addFile" class="btn btn-default btn-md pull-left">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div><!--/.main-->

<script src="js/jquery-2.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/chart-data.js"></script>
<script src="js/easypiechart.js"></script>
<script src="js/easypiechart-data.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-table.js"></script>
<script src="js/table-scripts.js"></script>
<script src="js/materialize.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:inline="javascript">
    $(function () {

        /*<![CDATA[*/
        var authors = [[${authorsName}]];
        /*]]>*/

        /*<![CDATA[*/
        var publishers = [[${publishersNames}]];
        /*]]>*/

        $('#book_button').attr('class', 'active')

        function split(val) {
            return val.split(/,\s*/);
        }

        function extractLast(term) {
            return split(term).pop();
        }

        $("#publishers").autocomplete({
            source: publishers
        });

        $("#authors")
            .on("keydown", function (event) {
                if (event.keyCode === $.ui.keyCode.TAB) {
                    event.preventDefault();
                }
            })
            .autocomplete({
                minLength: 0,
                source: function (request, response) {
                    // delegate back to autocomplete, but extract the last term
                    response($.ui.autocomplete.filter(
                        authors, extractLast(request.term)));
                },
                focus: function () {
                    // prevent value inserted on focus
                    return false;
                },
                select: function (event, ui) {
                    var terms = split(this.value);
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push(ui.item.value);
                    // add placeholder to get the comma-and-space at the end
                    terms.push("");
                    this.value = terms.join(", ");
                    return false;
                }
            });

    });
</script>

</body>
</html>

